
<ion-header>

  <ion-navbar>
    <ion-title>Order Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="order-content">

	<ion-list>
  	<ion-list-header>
  		Your Order Informations
  	</ion-list-header>
  	<ion-item item-left>
	    <ion-row>
	    	<ion-col width-30>
	    		<preload-image [ratio]="{w:1, h:1}" [src]="order.listing_snapshot.medias[0].media_path">
          </preload-image>
        </ion-col>
	    	<ion-col widht-70>
	    		<h2 text-left class="item-title">{{ order.listing_snapshot.title }}</h2>
			    <h2 text-left>Quantity: {{ order.invoice.quantity }}</h2>
			    <h2 text-left *ngIf="show_shipping_fee">
			    	{{ order.invoice.shipping_fee | currency: order.invoice.currency: true:'1.2-2' }}
			    </h2>
			    <div class="price-label" item-right>
			    	Price:{{ order.invoice.subtotal | currency: order.invoice.currency: true:'1.2-2' }}
			    </div>
	    	</ion-col>
	    </ion-row>
	  </ion-item>

	  <ion-item>
	  	<h2 item-start>Order Quantity</h2>
	  	<h2 item-content>{{ order.invoice.quantity }}</h2>
	  </ion-item>
	  <ion-item>
	  	<h2 item-start>Total Invoice</h2>
	  	<h2 item-content>{{ order.invoice.total_price | currency: order.invoice.currency: true:'1.2-2' }}</h2>
	  </ion-item>

	  <ion-item>
	   <ion-label>Order Status</ion-label>
	    <ion-select [(ngModel)]="order.status">
	      <ion-option *ngFor="let status of status_list" value="{{ status }}">{{ status }}</ion-option>
	    </ion-select>
	  </ion-item>


  	<ion-item-group>
  		<ion-item-divider></ion-item-divider>
	    <button ion-item>
	    	<ion-label>Confirm Order</ion-label>
	    </button>

 		  <button ion-item>
	    	<ion-label>Print Order</ion-label>
	    </button>

	   	<button ion-item>
	    	<ion-label>Send Order</ion-label>
	    </button>
    </ion-item-group>

	  <ion-item-divider>Client Address</ion-item-divider>
  	<ion-item *ngIf="order.shipping_address?.primary" class="address-primary">
      <h2 class="address-title">{{ order.shipping_address?.full_name }}</h2>
      <p>{{ order.shipping_address?.street_1 }}</p>
      <p>{{ order.shipping_address?.city }}, {{ order.shipping_address?.state }} {{ order.shipping_address?.zip_code }}</p>
      <p>{{ order.shipping_address?.country }}</p>
      <!-- <h2 item-right *ngIf="order.shipping_address?.primary">Primary</h2> -->
    </ion-item>
	</ion-list>

	<div padding>
	<button ion-button block class="page-button"  (click)="goToMyOrders()">
	 My orders
	</button> 
	<button ion-button block class="page-button"  (click)="goToHome()">
	 home
	</button>
	</div>


</ion-content>
