<!--
  Generated template for the ListingFormCategories page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        Cancel
      </button>
    </ion-buttons>
    <ion-title>Categories</ion-title>
    <ion-buttons end>
      <button ion-button (click)="save()">
        Save
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="form-content">

      <ion-list class="radio-group" radio-group [(ngModel)]="category">
        <ion-item-divider></ion-item-divider>
        <ion-item class="radio-item" *ngFor="let category of categories">
          <ion-label>
            {{ category.category }}
            <div>
              <p>{{ category.note }}</p>
            </div>
          </ion-label>
          <ion-radio value="{{ category.category }}"></ion-radio>
        </ion-item>
      </ion-list>
  <!-- <ion-list> -->
<!--     <ion-list-header>
      My Categories
    </ion-list-header> -->
<!--     <ion-item class="checkbox-item" *ngFor="let category of categories">
      <ion-label>{{category.category}}</ion-label>
      <ion-checkbox [(ngModel)]="category.checked"></ion-checkbox>
    </ion-item>
  </ion-list> -->

</ion-content>
