<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button>
        Cancel
      </button>
    </ion-buttons>
    <ion-title>Checkout</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="order-content">

	<ion-list>
  	<ion-list-header>
  		Your Order
  	</ion-list-header>

	  <ion-item-group>
	  	<ion-item no-lines item-left>
		    <ion-row>
		    	<ion-col width-30>
		    		<preload-image [ratio]="{w:1, h:1}" [src]="order.listing_snapshot.medias[0].media_path">
	          </preload-image>
	        </ion-col>
		    	<ion-col widht-70>
		    		<p class="text-title" text-left>{{ order.listing_snapshot.title }}</p>
		    		<p class="text-content">Delivery Option:	<span> {{ order.delivery_option }}</span></p>
				    <p class="text-content">Ets. Delivery: <span>{{ order.delivery_schedule | momentPipe: 'to' }}</span></p>
		    	</ion-col>
		    </ion-row>
		  </ion-item>

	    <ion-row class="checkout-actions">
	    	<ion-col width-33 text-center>
	    		<button ion-button small clear (click)="cancelOrderConfirmation()">
	    			Cancel Order
	    		</button>
	    	</ion-col>
	    	<ion-col width-33 text-center>
	    		<button ion-button small clear>
	    			Edit Order
	    		</button>
	    	</ion-col>
	    	<ion-col width-33 text-center>
	    		<button ion-button small clear>
	    			Save Order
	    		</button>
	    	</ion-col>	
	    </ion-row>
	  </ion-item-group>

	  <ion-item-group>
	  	<ion-list-header>Invoice</ion-list-header>
	  	<ion-item>
	  		<h2 item-start>Quantity: </h2>
	  		<h2 item-content class="price-label">
		    	{{ order.invoice.quantity }}
		    </h2>
	  	</ion-item>
	  	<ion-item>
	  		<h2 item-start>Price: </h2>
	  		<h2 item-content class="price-label">
		    	{{ order.invoice.price | currency: order.invoice.currency: true:'1.2-2'}}
		    </h2>
	  	</ion-item>
	  	<ion-item>
	  		<h2 item-start>Tax: </h2>
	  		<h2 item-content class="price-label">
		    	{{ order.invoice.tax | currency: order.invoice.currency: true:'1.2-2'}}
		    </h2>
	  	</ion-item>
	  	<ion-item *ngIf="showDeliveryFee">
	  		<h2 item-start>Delivery Fee: </h2>
	  		<h2 item-content class="price-label">
		    	{{ order.invoice.delivery_fee | currency: order.invoice.currency: true:'1.2-2'}}
		    </h2>
	  	</ion-item>
	  	<ion-item>
	  		<h2 item-start>Total Price: </h2>
	  		<h2 item-content class="price-label">
		    	{{ order.invoice.total_price | currency: order.invoice.currency: true:'1.2-2'}}
		    </h2>
	  	</ion-item>
  	</ion-item-group>

<!-- 		<ion-item-group>
			<ion-list-header>
	    	Estimated Delivery
	    	<div class="list-sub-header">
	    		Adds the processing time
	    	</div>
	    </ion-list-header>
	    <ion-item>
	    	<h2>Est. Delivery</h2>
	    	<h2 class="delivery-schedule">{{ order.delivery_schedule | momentPipe: ['LLLL', 'timestamp'] }}</h2>
	    </ion-item>
		</ion-item-group> -->

		<ion-item-group *ngIf="shippingAddress">
	    <ion-list-header>
	    	Shipping Address
	    	<div class="list-sub-header">
	    		Your address will be shown only after confirmed
	    	</div>
	    </ion-list-header>
	    <ion-item *ngIf="order.delivery_address?.primary" class="address-primary">
	      <h2 class="address-title">{{ order.delivery_address?.full_name }}</h2>
	      <p>{{ order.delivery_address?.street_1 }}</p>
	      <p>{{ order.delivery_address?.city }}, {{ order.delivery_address?.state }} {{ order.delivery_address?.zip_code }}</p>
	      <p>{{ order.delivery_address?.country }}</p>
	      <!-- <h2 item-right *ngIf="order.delivery_address?.primary">Primary</h2> -->
	    </ion-item>
	  </ion-item-group>


		<ion-item-group *ngIf="carryoutAddress">
	    <ion-list-header>
	    	Carryout Address
	    	<div class="list-sub-header">
	    		The carryout address will be shown after confirmed
	    	</div>
	    </ion-list-header>
	    <ion-item class="address-primary">
	      <h2 class="address-title">
	      The carryout address will be shown after confirmed
	      <!-- {{ order.listing_snapshot?.location.address }} -->
	      </h2>
	    </ion-item>
	  </ion-item-group>

	  <ion-item-group class="payment-method">
	  	<ion-list-header>
	  		Payment Methods
	  	</ion-list-header>
	  	<ion-item>
	      <h2>Paypal Account</h2>
	      <h4>user@email.com</h4>
	      <h2 item-right class="title-text">Primary</h2>
	    </ion-item>
	    <button ion-item small (click)="setPaymentMethod()">
	    	<ion-icon ios="ios-card" md="md-card" item-left></ion-icon>
	      Add payment method
	    </button>
	<!--     <ion-item>
	      <span>Paypal, Visa, MasterCard, American Express, Discover</span>
	      <h6>Cards are processed by Paypal</h6>
	    </ion-item> -->
	  </ion-item-group>

	</ion-list>

</ion-content>

<ion-footer>
	<ion-toolbar class="checkout-footer">
		<p class="footer-text" item-left>
			Total Price:
			<span>{{ order.invoice.total_price  | currency: order.invoice.currency: true:'1.2-2'}}</span>
		</p>
    <ion-buttons end>
  		<button ion-button class="checkout-button" (click)="proceedPayment()" item-right  icon-left>
        <ion-icon ios="logo-usd" md="logo-usd"></ion-icon>
      	Pay
      </button>
    </ion-buttons>
	</ion-toolbar>
</ion-footer>
